<section class="footer-area bg-white padding-top-90px padding-bottom-30px">
    <div class="container">
      <div class="row">
        
        <!-- end col-lg-3 -->
    
      </div>
      <!-- end row -->
      <div class="section-block"></div>
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="copy-right padding-top-30px">
            <p class="copy__desc">
              &copy; Copyright Dribook 2023. Made by
              <a href="#"
                >Kennedy Mbano 8826852</a
              >
            </p>
          </div>
          <!-- end copy-right -->
        </div>
        <!-- end col-lg-7 -->
        <div class="col-lg-5">
          <div class="footer-social-box padding-top-30px text-right">
            <ul class="social-profile">
              <li>
                <a href="#"><i class="lab la-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="lab la-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="lab la-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="lab la-linkedin-in"></i></a>
              </li>
            </ul>
          </div>
          <!-- end copy-right-content -->
        </div>
        <!-- end col-lg-5 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>