<div class="modal-popup">
    <div
      class="modal fade"
      id="userdetailsform"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div>
              <h5 class="modal-title title" id="exampleModalLongTitle">
              </h5>
              <p class="font-size-14">Update User Details</p>
            </div>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true" class="la la-close"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="contact-form-action">
              <form id="userDetailsForm">
                <div class="input-box">
                  <label class="label-text">Name</label>
                  <div class="form-group">
                    <span class="la la-user form-icon"></span>
                    <input
                      class="form-control"
                      type="text"
                      name="userName"
                      id="username"
                      placeholder="Type your username" disabled
                    />
                  </div>
                </div>
                <!-- end input-box -->
                <div class="input-box">
                  <label class="label-text">License Number</label>
                  <div class="form-group">
                    <span class="la la-lock form-icon"></span>
                    <input
                      class="form-control"
                      type=""
                      name="text"
                      id="licenseno"
                      disabled
                      placeholder="Please leave a comment"
                    />
                  </div>
                </div>
                <!-- input box-->
                </div>
                <!-- end input box-->
                <!-- input box-->
                <div class="form-group select-contain w-100 ">
                    <label class="label-text">Exam Results</label>
                    <div class="dropdown bootstrap-select select-contain-select ">
                        <select class="select-contain-select" tabindex="-98" id="resultOptions" name="resultOptions">
                            <option value="" selected>Select Result</option>
                            <option value="Pass">Pass</option>
                            <option value="Fail">Fail</option>
                        </select>
                    </div>
                </div>
   
                <!-- end input box-->
                <!-- input-box -->
                <div class="input-box">
                  <label class="label-text">Comment</label>
                  <div class="form-group">
                    <span class="la la-lock form-icon"></span>
                    <input
                      class="form-control"
                      type=""
                      name="comment"
                      id="comment"
                      placeholder="Please leave a comment"
                    />
                  </div>
                </div>
                </div>
                <!-- end input-box -->
                <div class="btn-box pt-3 pb-4">
                  <button id="updateUserdetails" type="button" class="theme-btn w-100">
                    Update Driver Details
                  </button>
                </div>
              </form>
            </div>
            <!-- end contact-form-action -->
          </div>
        </div>
      </div>
    </div>
  </div>